body {
    overflow-x: hidden;
}

#settings-sidebar,
#friends-container {
    position: absolute;
    top: 50px;
    left: calc(50dvw + 585px);

    min-width: 200px;
    min-height: 100px;

    background: #222222;

    display: flex;
    flex-direction: column;
}

.light-blue {
    background: #005eff1a;
}

.light-orange {
    background: #ff55001a;
}

.friend-section {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    gap: 5px;
    margin-bottom: 15px;
}

.friend-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 5px;
}

.friend-title img {
    width: 50px;
    height: 50px;
    margin-left: 20px;
    padding: 10px;
    transition: 0.4s;

    border-radius: 8px;

    cursor: pointer;
}

.friend-title img:hover {
    background: #ffffff20;
}

.friend-title img:active {
    background: #ffffff40;
}

.player-display-name{
    font-size: 15px;
}
#friends-container p {
    font-size: 13px;
}
.player-display-name,
#friends-container p {
    margin: 0;
    padding: 0;

    width: 210px;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
#friends-container h2 {
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

.player-container {
    display: flex;
    gap: 3px;

    border-radius: 3px;
    transition: 0.2s;

    align-items: center;
    background: #151515;

    border-left: transparent 3px solid;
    border-right: transparent 3px solid;
}
.player-bm-button{
    width: 30px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #0b0b0b;
    z-index: 10;
}
.player-bm-button > img{
    width: 30px !important;
    height: 30px !important;
}
.player-highlight {
    border-bottom: 0px !important;
    border-top: 0px !important;
    border: 3px solid white;
    background: #ffffff20;
}

.player-container img {
    width: 50px;
    height: 50px;
}

.player-details {
    line-height: 1;
    width: 210px;
    display: flex;
    flex-direction: column;

    gap: 2px;
    justify-content: center;
}


.gray {
    background: #737373;
}

.green {
    background: #1b6f1b;
}

.red {
    background: #7c1313;
}


.ban-data-wrapper {
    position: relative;
    width: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ban-data {
    width: 30px;
    height: 50px;
    position: relative;
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;
}
.ban-details > p{
    width: 185px !important;
    font-size: 14px !important;
}

.ban-data>img {
    width: 25px;
    height: 25px;
}

.ban-details {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 50px;

    background: #8e2121;
    color: white;
    font-size: 16px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    padding: 0 10px;

    transform: translateX(30px);
    opacity: 0;
    pointer-events: none;

    transition: all 0.2s ease-out;
}

.ban-data-wrapper:hover .ban-details {
    transform: translateX(-200px);
    opacity: 1;
    pointer-events: auto;
}








#settings-sidebar {
    padding: 0;
    justify-content: center;
    align-items: center;
}

#settings-wrapper {
    display: flex;
    gap: 30px;

    justify-content: space-between;
    align-items: center;
}

#settings-wrapper h1 {
    margin: 0;
    padding: 0;

    font-size: 20px;
}

#settings-button {
    width: 40px;
    height: 40px;

    padding: 5px;
    border-radius: 8px;

    cursor: pointer;
    transition: all 0.4s;
}

#settings-button:hover {
    background: #ffffff30;
}

#settings-button:active {
    background: #ffffff50;
}

#settings-window-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000080;

    z-index: 1000;

    display: flex;
    justify-content: center;
    align-items: center;
}

#settings-window {
    padding: 30px;
    background: #222222;
    border: 3px solid #464646;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    z-index: 1010;
}

#settings-window h1 {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;

    font-size: 24px;
}

#settings-window p {
    margin: 0;
    margin-left: 20px;
    padding: 0;

    font-size: 16px;
}

.key-setting-input-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.key-input {
    width: 250px;
    height: 30px;

    margin: 0;
    margin-left: 20px;

    border-radius: 3px;
    outline: 0;

    font-size: 16px;
    background: #151515;
}

.key-button {
    height: 26px;
    font-size: 16px;
    line-height: 1;
    padding: 3px 10px;
    outline: 0;
    border-color: #121212;
    background: #151515;
    border: 1px solid #121212;
    border-radius: 3px;

    cursor: pointer;
    transition: all 0.2s;
}

.key-button:hover {
    border: 1px solid #080808;
    background: #121212;
}

.key-button:active {
    border: 1px solid #080808;
    background: #080808;
}

.color-setting-wrapper {
    padding: 5px 20px;
    display: flex;
    gap: 20px;
}

.color-setting-wrapper label {
    font-size: 16px;
    font-weight: 400;
}





#friends-comparator-wrapper {
    width: 100%;
    height: 40px;
}

#friends-comparator-wrapper input {
    padding: 0px 10px;
    width: calc(100% - 20px);
    margin: 10px;
    height: 34px;
    font-size: 18px;
    border: 2px solid #434343;
    outline: none;
    border-radius: 3px;
    background: rgb(34, 34, 34);

    transition: all 0.5s;
}

.input-yellow {
    border: 2px solid #ffd505 !important;
    background: linear-gradient(0deg, #ffd505 0%, #22222200 5%, #22222200 95%, #ffd505 100%), linear-gradient(90deg, #ffd505 0%, #222222 1%, #222222 99%, #ffd505 100%) !important;
}

.input-green {
    border: 2px solid #05ff37 !important;
    background: linear-gradient(0deg, #05ff37 0%, #22222200 5%, #22222200 95%, #05ff37 100%), linear-gradient(90deg, #05ff37 0%, #222222 1%, #222222 99%, #05ff37 100%) !important;
}

.input-red {
    border: 2px solid #ff0505 !important;
    background: linear-gradient(0deg, #ff0505 0%, #22222200 5%, #22222200 95%, #ff0505 100%), linear-gradient(90deg, #ff0505 0%, #222222 1%, #222222 99%, #ff0505 100%) !important;
}